.categorypopular {
    margin-top: 12px;
    &-item {
        display: flex;
        gap: 8px;
        margin-top: 36px;
        &--box {
            cursor: pointer;
            padding: 24px;
            width: 100%;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid var(--primary-color);
            .title {
                &:hover {
                    @include hover-drop();
                }
                text-transform: uppercase;
                font-size: 16px;
            }
            .img {
                width: 70px !important;
                margin-bottom: 12px;
            }
            @include stagger-drop(3, 0.2s, 0.5s, 20px);
        }
    }
}
