.form-control:focus {
    background-color: transparent !important;
    box-shadow: none;
    border-color: var(--primary-color);
}

.btn-outline-secondary {
    border-color: var(--primary-color);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--primary-color);
        color: #fff;
    }
}
.dropdown-item {
    color: var(--text-color);
}
