.menu {
  display: flex;
  align-items: center;
  gap: 0 36px;
  list-style: none;
  padding: 0;
  &-toggle {
    display: none;
    * {
      pointer-events: none;
    }
  }

  &-link {
    color: var(--grayb5);
    position: relative;
    display: inline-block;
    transition: color 0.25s ease-out;

    &:before {
      content: "";
      height: 2px;
      width: 0;
      background-image: linear-gradient(to right bottom,
          var(--primary-color),
          var(--primary-yellow));
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: width 0.25s ease-in;
    }

    &:hover {
      color: var(--white);

      &:before {
        width: 100%;
      }
    }
  }

  @include mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    background-color: var(--secondary-color);
    z-index: 9;
    flex-direction: column;
    align-items: stretch;
    transition: transform 0.25s ease-in;
    background-color: hsla(0, 0%, 100%, .95);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    &.is-show {
      transform: none;
    }
    &-item {
      margin-bottom: 15px;
    }

    &-link {
      display: block;
      padding: 15px;

      &:before {
        display: none;
      }
    }
    &-toggle {
      display: inline-block;
    }
  }
}