.service {
  &-wrap {
    background-color: white;
  }
  margin-top: 86px;
  &-list {
    @include mobile {
      display: block;
    }
    padding: 16px;
    display: flex;
    justify-content: space-around;
    gap: 16px;

    &--item {
      @include mobile {
        border-bottom: 1px dashed #d5d2ac;
        border-left: none;
      }
      &:first-child {
        border-left: none;
      }
      border-left: 1px dashed #d5d2ac;
      display: flex;
      align-items: center;
      gap: 8px;
      .title {
        @include mobile {
          margin-bottom: 15px;
        }
        color: var(--text-color);
        font-size: 20px;
        font-weight: 600;
      }
      .image {
        @include mobile {
          margin: 15px 0px;
        }
        margin-left: 15px;
      }
    }
  }
}
