:root {
  --primary-font: "Sora", sans-serif;
  --primary-color:#947e1a;
  --secondary:#c7aa23;
  --text-primary:#000000;


  --body-bg: #fdf9f1;
  --gray1e: #1e1e1e;
  --grayb5: #b5b3af;
  --gray7d: #7d7d7d;
  --white: #fff;
  --body-size: 1440px;
  --container: 1100px;
  --gap: 15px;
  // --primary-color: #00bd82;
  // --primary-yellow: #e2f471;
}
